<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ root }}/views/default/styles/main.css"
          type="text/css" />
    <script src="{{ root }}/scripts/jquery.js" type="text/javascript"></script>
    <script src="{{ root }}/scripts/main.js" type="text/javascript"></script>
    <script src="{{ root }}/lib/ckeditor/ckeditor.js" type="text/javascript"></script>

  </head>
  <body>
      
     
      <div id="page">
          <div id="header">
              <a href="{{ root }}/{{ langCode }}">
              <div class="left">
                  <h3>
                      Кыргыз Фондулук Биржасы<br />
                      Кыргызская Фондовая Биржа<br />
                      Kyrgyz Stock Exchange<br />
                  </h3>
              </div>
              </a>
              <div class="right">

                  {% if logged %}
                    {{ lang['Welcome'] }}, {{ uname }}! <a href="{{ root }}/handlers/logout.php"> [ {{ lang['[doExit]'] }} ] </a>
                  {% else %}
                    <div><a id="loginButton">Вход</a> | <a>Регистрация</a></div>
                    {% include 'form.login.html' %}
                  {% endif %}
                  
                  <div><input type="text" name="mSearch" value="Поиск..." /></div>
              </div>
          </div>
          <div id="center">
              
              <div id="lside">&nbsp;</div>
              <div id="content">
                  <div>{% include 'menu.html' %}</div><br />
                  {{ error }}
                  <h1 class="title">{{ page.title }}</h1>
                  {% for file in includes %}
                    {% include file  %}
                  {% endfor %}
                  <div class="text">
                      
                      {{ page.text }}
                      
                  </div>
                  {% if permission > 90 %}
                      {% if PageHandler %}

                      {% else %}
                      <div class="meta">
                          <ul>
                              <li><a href="{{ root }}/{{ langCode }}/EditPage/{{ page.utitle }}">Редактировать</a></li>
                              <li><a href="{{ root }}/{{ langCode }}/RenamePage/{{ page.utitle }}">Переименовать</a></li>
                              <li><a href="{{ root }}/{{ langCode }}/DeletePage/{{ page.utitle }}">Удалить</a></li>
                              <li><a href="{{ root }}/{{ langCode }}/HidePage/{{ page.utitle }}">Скрыть</a></li>
                          </ul>
                      </div>
                      {% endif %}
                  {% endif %}

              </div>
          </div>
          <div id="footer">
              {{FooterPage}}
          </div>
      </div>
  </body>
</html>
