<div id="two_columns">
    <form action="{{ root }}/handlers/register.php" method="POST">
        <label>Имя для входа (Логин):</label>
        <p><input type="text" name="mLogin" value="" id="mfLogin" class="text ui-widget-content ui-corner-all" /></p>
        <label>Пароль:</label>
        <p><input type="password" name="mPass" value="" id="mfPass" class="text ui-widget-content ui-corner-all" /></p>
        <label>Подтверждение пароля:</label>
        <p><input type="password" name="mPassConfirm" value="" id="mfPass" class="text ui-widget-content ui-corner-all" /></p>
        <label>Электронный адрес:</label>
        <p><input type="text" name="mEmail" value="" id="mfPass" class="text ui-widget-content ui-corner-all" /></p>
        <label>&nbsp;</label>
        <p><input type="submit" name="doRegister" value="{{ Lang['{doRegister}'] }}" /></p>
    </form>
</div>

<tr>
    <td>
    03.03.2023
    </td>
    <td>
    06.03.2023
    </td>
    <td>
    GBA07300306
    </td>
    <td>
    7%
    </td>
    <td>
    7 лет
    </td>
    <td>
    550,0
    </td>
    
</tr>
<tr>
    <td>
    10.03.2023
    </td>
    <td>
    13.03.2023
    </td>
    <td>
    GBA03260313
    </td>
    <td>
    5%
    </td>
    <td>
    3 года
    </td>
    <td>
    550,0
    </td>
    
</tr>
<tr>
    <td>
    17.03.2023
    </td>
    <td>
    22.03.2023
    </td>
    <td>
    GBA10330322
    </td>
    <td>
    8%
    </td>
    <td>
    10 лет
    </td>
    <td>
    1 500,0
    </td>
 
</tr>
<tr>
    <td>24.03.2023</td>
    <td>27.03.2023</td>
    <td>GBA05280327</td>
    <td>6%</td>
    <td>5 лет</td>
    <td>350,0</td>
    
</tr>