<h2>{{ lang['tradearchive'] }}</h2>

<div id="current_year" class="trade_archive_block">
    <br />
    <h4>{{ lang['currentyear'] }}</h4>
    <br />
    <table width="100%" class="class1">
        <tr>
            <th></th>
            <th>{{ lang['totaltradevolume'] }}</th>
            <th>{{ lang['amountofsecuritiespiece'] }}</th>
            <th>{{ lang['amountoftransactions'] }}</th>
            <th>{{ lang['tradesprimary'] }}</th>
            <th width=12%>{{ lang['tradessecond'] }}</th>
            <th width=15%>{{ lang['tradeslisted'] }}</th>
            <th width=15%>{{ lang['tradesnonlisted'] }}</th>

        </tr>
        {% for Trade in CurrentYear %}
        <tr>
            <th>{{ Trade['Month'] }}/{{ Trade['Year'] }}&nbsp; </th>
            <td align="right"> {{ Trade['TotalVolume'] }}</td>
            <td align="right">{{ Trade['SecondaryAmount'] }}</td>
            <td align="right">{{ Trade['DealsAmount'] }}</td>
            <td align="right">{{ Trade['PrimaryDeals'] }}</td>
            <td align="right">{{ Trade['SecondaryDeals'] }}</td>
            <td align="right">{{ Trade['ListingTrades'] }}</td>
            <td align="right">{{ Trade['NonListingTrades'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>{{ lang['total'] }}</th>
            <td align="right">{{ total_current['total_volume'] }}</td>
            <td align="right">{{ total_current['secondary_amount'] }}</td>
            <td align="right">{{ total_current['deals_amount'] }}</td>
            <td align="right">{{ total_current['primary_deals'] }}</td>
            <td align="right">{{ total_current['secondary_deals'] }}</td>
            <td align="right">{{ total_current['listing_trades'] }}</td>
            <td align="right">{{ total_current['non_listing_trades'] }}</td>
        </tr>
    </table>
</div>

<div id="past_year" class="trade_archive_block" style="display: none;">
    <br />
    <h4>{{ lang['lastyear'] }}</h4>
    <br />
    <table width="100%" class="class1">
        <tr>
            <th></th>
            <th>{{ lang['totaltradevolume'] }}</th>
            <th>{{ lang['amountofsecuritiespiece'] }}</th>
            <th>{{ lang['amountoftransactions'] }}</th>
            <th>{{ lang['tradesprimary'] }}</th>
            <th width=12%>{{ lang['tradessecond'] }}</th>
            <th width=15%>{{ lang['tradeslisted'] }}</th>
            <th width=15%>{{ lang['tradesnonlisted'] }}</th>

        </tr>
        {% for Trade in PastYear %}
        <tr>
            <th>{{ Trade['Month'] }}/{{ Trade['Year'] }}&nbsp; </th>
            <td align="right"> {{ Trade['TotalVolume'] }}</td>
            <td align="right">{{ Trade['SecondaryAmount'] }}</td>
            <td align="right">{{ Trade['DealsAmount'] }}</td>
            <td align="right">{{ Trade['PrimaryDeals'] }}</td>
            <td align="right">{{ Trade['SecondaryDeals'] }}</td>
            <td align="right">{{ Trade['ListingTrades'] }}</td>
            <td align="right">{{ Trade['NonListingTrades'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>{{ lang['total'] }}</th>
            <td align="right">{{ past_year_total['total_volume'] }}</td>
            <td align="right">{{ past_year_total['secondary_amount'] }}</td>
            <td align="right">{{ past_year_total['deals_amount'] }}</td>
            <td align="right">{{ past_year_total['primary_deals'] }}</td>
            <td align="right">{{ past_year_total['secondary_deals'] }}</td>
            <td align="right">{{ past_year_total['listing_trades'] }}</td>
            <td align="right">{{ past_year_total['non_listing_trades'] }}</td>
        </tr>
    </table>
</div>

<div id="all_years" class="trade_archive_block" style="display: none;">
    <br />
    <h4>{{ lang['onyear'] }}</h4>
    <br />
    <table width="100%" class="class1">
        <tr>
            <th></th>
            <th>{{ lang['totaltradevolume'] }}</th>
            <th>{{ lang['amountofsecuritiespiece'] }}</th>
            <th>{{ lang['amountoftransactions'] }}</th>
            <th width=14%>{{ lang['tradesprimary'] }}</th>
            <th width=14%>{{ lang['tradessecond'] }}</th>
            <th width=14%>{{ lang['tradeslisted'] }}</th>
            <th width=14%>{{ lang['tradesnonlisted'] }}</th>

        </tr>
        {% for Trade in TotalYear %}
        <tr>
            <th>{{ Trade['Year'] }}&nbsp; </th>
            <td align="right"> {{ Trade['TotalVolume'] }}</td>
            <td align="right">{{ Trade['SecondaryAmount'] }}</td>
            <td align="right">{{ Trade['DealsAmount'] }}</td>
            <td align="right">{{ Trade['PrimaryDeals'] }}</td>
            <td align="right">{{ Trade['SecondaryDeals'] }}</td>
            <td align="right">{{ Trade['ListingTrades'] }}</td>
            <td align="right">{{ Trade['NonListingTrades'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>{{ lang['total'] }}</th>
            <td align="right">{{ all_years_total['total_volume'] }}</td>
            <td align="right">{{ all_years_total['secondary_amount'] }}</td>
            <td align="right">{{ all_years_total['deals_amount'] }}</td>
            <td align="right">{{ all_years_total['primary_deals'] }}</td>
            <td align="right">{{ all_years_total['secondary_deals'] }}</td>
            <td align="right">{{ all_years_total['listing_trades'] }}</td>
            <td align="right">{{ all_years_total['non_listing_trades'] }}</td>
        </tr>
    </table>
</div>

<div class="results_view f_r">
    {{ lang['{Period}'] }}
    <a href="#" id="tradearchive_current_link" class="tradearchive_links current">{{ lang['currentyear'] }}</a> /
    <a href="#" id="tradearchive_past_link" class="tradearchive_links">{{ lang['lastyear'] }}</a> /
    <a href="#" id="tradearchive_years_link" class="tradearchive_links">{{ lang['onyear'] }}</a>
</div>

<script type="text/javascript">

    $("#tradearchive_current_link").bind("click", function(){
        $(".trade_archive_block").css("display", "none");
        $("#current_year").css("display", "block");
        $(".tradearchive_links").removeClass("current");
        $("#tradearchive_current_link").addClass("current");
    });

    $("#tradearchive_past_link").bind("click", function(){
        $(".trade_archive_block").css("display", "none");
        $("#past_year").css("display", "block");
        $(".tradearchive_links").removeClass("current");
        $("#tradearchive_past_link").addClass("current");
    });

    $("#tradearchive_years_link").bind("click", function(){
        $(".trade_archive_block").css("display", "none");
        $("#all_years").css("display", "block");
        $(".tradearchive_links").removeClass("current");
        $("#tradearchive_years_link").addClass("current");
    });

</script>