<ul id="menu">
    <li><a href="#">Биржа</a>
        <ul>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Историческая справка</a></li>
            <li><a href="#">Организационная структура</a></li>
            <li><a href="#">Корпоративные документы</a></li>
            <li><a href="#">Акционеры и участники торгов</a></li>
            <li><a href="#">Наши партнеры</a></li>
        </ul>
    </li>
    <li><a href="#">Информация о торгах</a>
        <ul>
            <li><a href="#">Итоги последних торгов</a></li>
            <li><a href="{{ root }}/{{ langCode }}/IndexAndCapitalization">Индекс и капитализация</a></li>
            <li><a href="{{ root }}/{{ langCode }}/Quotation">Котировки on-line</a></li>
            <li><a href="{{ root }}/{{ langCode }}/TradeArchive">Архив торгов</a></li>
        </ul>
    </li>
    <li><a href="#">Пункт 3</a></li>
    <li><a href="#">Пункт 4</a></li>
    <li><a href="#">Пункт 5</a></li>
</ul>
