<style type="text/css">
    ul li {
        list-style-type: none;
    }
</style>
<p style="font-weight: 500;">
    <h3>Начался прием заявок на публичное размещение привилегированных акций (IPO) ОАО Микрофинансовая компания "Салым Финанс", который продлится до 23 сентября 2020 года.</h3>
</p>
<br>
<p>Параметры выпуска:</p><br>
<ul>
    <li>Вид публично предлагаемых ценных бумаг: именные привилегированные акции</li>
    <li>Размер дивиденда на одну привилегированную акцию: в размере 160 сом в год</li>
    <li>Номинальная стоимость одной именной привилегированной акции: 1 000 (одна тысяча) сом</li>
    <li>Количество ценных бумаг, предполагаемых к публичному предложению: 50 000 (пятьдесят тысяч) экземпляров</li>
    <li>Минимальный пакет продажи акций одному юридическому или физическому лицу: 25 (двадцать пять) экземпляров привилегированных акций</li>
	<li>Андеррайтер выпуска: ОсОО Финансовая компания «Сенти»</li>
    <li>
        <div class="pdf_link">
                                            <a href="https://www.kse.kg/files/upload/usloviya.pdf" class="f_l">
                                                <img src="https://www.kse.kg/views/kse/images/icon_pdf.png" border="0" alt="ListingRules_rus.pdf"></a>
                                            <a href="https://www.kse.kg/files/upload/usloviya.pdf" class="bullet_link pdf_link">Условия предложения</a>
                                            <p class="pdf_size">2.7 МБ</p>
                                        </div>
    </li>
    <li>
        <div class="pdf_link">
                                            <a href="https://www.kse.kg/files/upload/prospekt.pdf" class="f_l">
                                                <img src="https://www.kse.kg/views/kse/images/icon_pdf.png" border="0" alt="ListingRules_rus.pdf"></a>
                                            <a href="https://www.kse.kg/files/upload/prospekt.pdf" class="bullet_link pdf_link">Проспект ОАО МФК Салым Финанс</a>
                                            <p class="pdf_size">5.7 МБ</p>
                                        </div>
    </li>
</ul>

<h3 style="color: #1464ad; margin: 15px; font-size: 14px">Заявки участиков IPO в торговой системе ЗАО "КФБ"</h3>
<table class="class1" width="100%">
    
<tr>
        <td rowspan='2'>{{ lang['tradesymbol'] }}</td>
        <td rowspan='2'>{{ lang['qname'] }}</td>
		<td >{{ lang['buyquantity'] }}</td>
		<td rowspan='2'>Дата</td>
        <td rowspan='2'>Время</td>
		<tr>
			<td>{{ lang['qquantity'] }}</td>
		</tr>
        
</tr>
    {% for Quote in Quotes %}
    <tr>
        <td>{{ Quote["short_name"] }}</td>
        <td>{{ Quote["full_name"] }}</td>
        <td class="center">{{ Quote["buy_amount"] }}</td>

        <td >{{ Quote["date1"] }}</td>
        <td >{{ Quote["time1"] }}</td>
    </tr>
    {% else %}
    <tr>
        <td class="center">-</td>
        <td class="center">-</td>
        <td class="center">-</td>
        <td class="center">-</td>
        <td class="center">-</td>
        <td class="center">-</td>
    </tr>
    {% endfor %}
</table>